%table
    %thead
        %tr
            %th Player
            %th Wickets
    %tbody
        - prev_wkt_count = 0
        - @wicket_takers.each_with_index do |p, pos|
            %tr{class: cycle('odd', 'even')}
                %td.number= prev_wkt_count == p.wickets ? "" : pos
                %td= link_to player_name(p), "/players/#{p.code}"
                %td.number= p.wickets
            -prev_wkt_count = p.wickets