%h1 Appearances
%table
  %thead
    %th Name
    %th From
    %th To
    %th Appearances
  %tbody
    - for player in @players
      %tr{class: cycle('odd', 'even')}
        %td= link_to player.name, player.code
        %td= player.seasons[:from]
        %td= player.seasons[:to]
        %td.number= player.appearances
