<h1>Players#index</h1>
<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
        <% for player in @players %>
            <tr>
                <td>
                    <%= link_to player.name, "player/#{player.code}" %>
                </td>
            </tr>
        <%  end %>
    </tbody>
</table>
