%h1 Players
%table
  %thead
    %th Name
    %th From
    %th To
  %tbody
    - for player in @players
      %tr
        %td= link_to player.name, "players/#{player.code}"
        %td= player.seasons[:from]
        %td= player.seasons[:to]
