<h1>Players#index</h1>
<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
        <% for player in @players %>
            <tr>
                <td><%= player.name %></td>
            </tr>
        <%  end %>
    </tbody>
</table>
