%table
    %thead
        %tr
            %th Runs
            %th Player
            %th Opponents
            %th Date
    %tbody
        - @hundreds.each do |h|
            %tr{class: cycle('odd', 'even')}
                %td= h.runs
                %td= player_name(h.player)
                %td= h.opponents
                %td= h.date
